body,*
    padding: 0
    margin: 0
    box-sizing: border-box
body
    background-color: #dddddd
.page
    max-width: 1400px
    width: 100%
    margin: auto
    background-color: #fff
    min-height: 100vh
header
    position: fixed
// --------------------------------
// @media ( max-width: 800px )

    